* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix:after {
  content: '';
  clear: both;
  display: table;
}

body {
  background-color: #d4c8c5;
}

.header {
  font-family: 'Lobster', cursive;
  background-color: #56494E;
  padding: 10px 0;
  text-align: center;
}


.header__text {
  text-decoration: none;
  color: #DB324D;
}

.search {
  padding: 6px 0;
}

.todos, .form__input, .search__input {
  font-family: 'Lobster Two', cursive;
  font-style: italic;
  font-size: 20px;
  color: #A62639;
}

.search__input {
  background-color: transparent;
  color: #d4c8c5;
  border: none;
  width: 150px;
}

.todos__list-item {
  padding: 10px 0;
  border-bottom: 1px solid #56494E;
}

.display-buttons {
  width: max-content;
  margin: 10px auto 0px auto;
}

.todos__text--complete {
  text-decoration: line-through;
  opacity: 0.3;
}

.todos__button {
  float: right;
  cursor: pointer;
  background: transparent;
  padding: 8px;
  border: none;
}

.todos__button--delete {
  color: #A62639;
}

.todos__button:hover {
  color: #ff0000;
}

.form {
  padding: 20px 0;
}

.form__label {
  display: block;
  text-align: center;
}

.form__input {
  display: block;
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #56494E;
  padding: 10px 0;
}

@media (min-width: 768px){
  .header__brand {
    float: left;
  }

  .header__text {
    font-size: 35px;
  }

  .search {
    float: right;
    padding: 9px 0;
  }

  .search__input {
    width: 180px;
  }
  
  .todos, .form__input, .search__input {
    font-size: 25px;
  }

  .todos__button {
    padding: 10px;
  }
}